<div {{ manage_tags() }}>
    <div class="form-group">
        <label for="form-field-{{ block.id }}">{{ block.properties.label|default('Label') }}</label>
        <div class="input-group">
            <input type="email" class="form-control" id="form-field-{{ block.id }}">
        </div>
        {% if block.properties.helpText|default %}
            <small class="form-text text-muted">{{ block.properties.helpText }}</small>
        {% endif %}
    </div>
</div>
