<div {{ manage_tags() }}>
    {% if block.properties.input|default %}
        {% if block.properties.input.type == 'radio' %}
        <fieldset class="form-group">
            <legend>{{ block.properties.label }}</legend>
            {% for option in block.properties.options %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" value="{{ option.key }}" {% if loop.first %}checked{% endif %}>
                        {{ option.value }}
                    </label>
                </div>
            {% endfor %}
            <small class="form-text text-muted">{{ block.properties.helpText }}</small>
        </fieldset>
        {% else %}
        <div class="form-group">
            <label for="example-input-{{ block.id }}">{{ block.properties.label }}</label>
            <div class="input-group">
                <input type="{{ block.properties.input.type }}" class="form-control" id="example-input-{{ block.id }}">
                {% if block.properties.unit %}
                    <div class="input-group-addon">{{ block.properties.unit }}</div>
                {% endif %}
            </div>
            <small class="form-text text-muted">{{ block.properties.helpText }}</small>
        </div>
        {% endif %}
    {% endif %}
</div>
