<a class="visual" href="{{ path('opifer.media.media.edit', {'id':media.id}) }}">
    <img src="{{ media.reference|imagine_filter('medialibrary') }}" alt="{{ media.name }}">
</a>
<h4 align="center">
    <a href="{{ path('opifer.media.media.edit', {'id':media.id}) }}">{{ media.name }}</a>
</h4>
<div align="center" class="metadata">
    {% if media.filesize %}{{ media.readableFilesize }}{% endif %} -
    {% if media.metadata.width is defined %}{{ media.metadata.width }}px X {{ media.metadata.height }}px{% endif %}
    {{ media.contentType }}<br />
    {% for tag in media.tags %}
        {{tag.name}},
    {% endfor %}
</div>
