{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="page-header clearfix">
                    <h1>
                        <small>{{ 'form.edit_form'|trans }}</small><br />
                        {{ 'title.new'|trans }}
                    </h1>
                </div>

                {{ form_start(form_form) }}
                    {{ form_widget(form_form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>
                        <a href="{{ path('opifer_form_form_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
                    </div>
                {{ form_end(form_form) }}
            </div>
        </div>
    </section>

{% endblock opifer_content_body %}
