{% if manage|default %}
<div class="{{ block.properties.extra_classes|default }}" id="{{ block.properties.id|default }}" {{ manage_tags() }}>{{ block.value|raw }}</div>
{% elseif block.properties.extra_classes|default or block.properties.id|default %}
    <div class="{{ block.properties.extra_classes|default }}" id="{{ block.properties.id|default }}">{{ block.value|raw }}</div>
{% else %}
    {{ block.value|parse|raw }}
{% endif %}