<div class="cards {{ block.properties.template|default }} {{ block.properties.styles|default|join(' ') }}" {{ manage_tags() }}>
    {% for content in block.collection %}
        <div class="column">
            <div class="card">
                {% if block.properties.template == 'cards-listing' %}
                    <div class="card-img-block">
                        <img class="card-img img-fluid" src="{{ content.coverImage|default }}" alt="{{ content.title }}" />
                    </div>
                {% else %}
                    <img class="card-img img-fluid" src="{{ content.coverImage|default }}" alt="{{ content.title }}" />
                {% endif %}
                <div class="card-block">
                    <h4 class="card-title">{{ content.title }}</h4>
                    <p class="card-text">{{ content.attributes.listCaption|default }}</p>
                    <a href="{{ path('_content', {'slug': content.slug}) }}" class="btn btn-primary">{{ 'button.read_more'|trans }} &rsaquo;</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
