{% if block.properties.template is defined and block.properties.template == 'navbar' %}
    <nav class="navbar navbar-light bg-faded" {{ manage_tags() }}>
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            {% block navigation_left %}
                {{ render_placeholder(0, 'Navbar left') }}
            {% endblock navigation_left %}
            <a class="navbar-brand" href="#">Your brand</a>
            <ul class="nav navbar-nav">
                {% for item in block.tree if item.showInNavigation == true %}
                    {% if item.hasNavigationChildren %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }} <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                {% for child in item.navigationChildren %}
                                    <a class="dropdown-item" href="{{ path('_content', {'slug': child.slug}) }}">{{ child.shortTitle | default(child.title) }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item {% if item is parent_of(block_service.environment.object) %}active{% endif %}">
                            <a href="{{ path('_content', {'slug': item.slug}) }}" class="nav-link">
                                {{ item.shortTitle | default(item.title) }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% block navigation_right %}
                {{ render_placeholder(1, 'Navbar right') }}
            {% endblock navigation_right %}
        </div>
    </nav>
{% else %}
    <div {{ manage_tags() }}>
    {{ _self.render_tree(block.tree) }}
    </div>

    {% macro render_tree(tree) %}
        <ul>
            {% for item in tree if item.showInNavigation == true %}
                <li>
                    <a href="{{ path('_content', {'slug': item.slug}) }}">{{ item.title }}</a>
                    {% if item.hasNavigationChildren %}
                        {{ _self.render_tree(item.children) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endmacro %}
{% endif %}