{% extends "OpiferCmsBundle::base.html.twig" %}

{#
    Overrides FOSUserBundle's changePassword view
#}

{% block body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">Change password</h1>
    </div>

    <section class="page-section">
        {% trans_default_domain 'FOSUserBundle' %}

        {{ form_start(form, {
            'method': 'POST',
            'action': path('fos_user_change_password'),
            'label_col': 3,
            'widget_col': 9 }) }}

        {{ form_row(form.current_password)}}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        {{ form_rest(form) }}
        <div>
            <input type="submit" class="btn btn-register" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
