{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}
    <div class="page-header clearfix">
        <h1>{{ 'content.new.title'|trans|capitalize }}</h1>
    </div>

    <section class="page-section">
        {{ form_start(form, {'attr' : { 'novalidate' : 'novalidate' }, 'style': 'horizontal' }) }}

            {{ form_row(form.schema) }}

            <div class="form-group">
                <div class="col-xs-12 col-lg-10 col-lg-offset-2">
                    <div class="pull-left">
                        {{ form_widget(form.save) }}
                    </div>
                    <div class="pull-right">
                        <a href="{{ path('opifer_content_content_index') }}" class="btn btn-default">{{ 'button.cancel'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock opifer_content_body %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
