{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="page-header">
            <a href="{{ path('opifer_media_media_create', {'provider': 'youtube'}) }}" class="btn btn-link pull-right">
                <i class="fa fa-youtube-play"></i> {{ 'button.add_youtube'|trans }}
            </a>
            <a href="{{ path('opifer_media_media_create', {'provider': 'vimeo'}) }}" class="btn btn-link pull-right">
                <i class="fa fa-youtube-play"></i> {{ 'button.add_vimeo'|trans }}
            </a>
            <h1>{{ "title.media"|trans }}</h1>
        </div>
    </div>

    <div class="js-media-manager" />
{% endblock body %}
