{#
    The single content picker widget.
#}
{% block contentpicker_widget %}
    {% spaceless %}
        {% if form.vars.value.content_id %}
            {% set content = form.vars.value.content_id %}
        {% endif %}

        <div class="content-picker" ng-controller="ContentPickerController" ng-cloak ng-init="init('{{ {'id': content.id|default, 'title': content.title|default|escape, 'coverImage': (content.coverImage|default) ? content.coverImage|imagine_filter('medialibrary') : '', 'path': path('_content', {'slug': content.slug|default})}|json_encode }}')">
            {{ form_row(form.content_id, {'attr': {'ng-value': 'content.id'} }) }}
            {% verbatim %}
            <div class="wrapper">
                <button type="button" class="btn btn-default" ng-click="isPickerOpen = !isPickerOpen">Choose item</button>
                <div class="content-picked-item" ng-show="content.id">
                    <div style="background-image: url({{ content.coverImage }});" class="content-cover"></div>
                    <div class="content-picked-details">
                        <span class="content-title">{{ content.title }}</span>
                        <span class="content-path" ng-hide="!content.path">{{ content.path }}</span>
                    </div>
                    <a class="remove" ng-click="content={}"></a>
                </div>
            </div>
            <ng-modal show="isPickerOpen">
                <content-browser site-id="0" locale="nl_NL" directory-id="0" mode="PICKER_SINGLE" active="isPickerOpen"></content-browser>
            </ng-modal>
            {% endverbatim %}
        </div>
    {% endspaceless %}
{% endblock %}

{#
    The multi content picker widget.
#}
{% block content_list_picker_widget %}
    {% spaceless %}
        {% set array = [] %}
        {% for item in form.vars.value %}
            {% if item.id|default %}
                {% set array = array|merge([item.id]) %}
            {% else %}
                {% set array = array|merge([item]) %}
            {% endif %}
        {% endfor %}

        {% set content = array|json_encode() %}

        <div class="content-picker content-picker-list" ng-controller="ContentPickerController" ng-cloak ng-init="init('{{ content }}', '{{ full_name }}', true)">
            {% verbatim %}
            <!--<input type="hidden" name="{{ formname }}[sort]" value="{{ order }}"/>-->
            <div class="wrapper" ui-sortable="sortableOptions" ng-model="selecteditems">
                <div class="content-picked-item" ng-repeat="item in selecteditems" style="display:block;">
                    <input type="hidden" id="" name="{{ formname }}" value="{{ item.id }}">
                    <div style="background-image: url({{ item.coverImage }});" class="content-cover"></div>
                    <div class="content-picked-details">
                        <span class="content-title">{{ item.title }}</span>
                        <span class="content-path">{{ item.path }}</span>
                    </div>
                    <a class="remove" ng-click="removeContent($index)"></a>
                </div>
            </div>

            <div class="wrapper">
                <button type="button" class="btn btn-default" ng-click="isPickerOpen = !isPickerOpen">Add items</button>
            </div>

            <ng-modal show="isPickerOpen">
                <content-browser site-id="0" locale="nl_NL" directory-id="0" mode="PICKER" active="isPickerOpen"></content-browser>
            </ng-modal>
            {% endverbatim %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block content_tree_picker_widget %}

    {% set content = form.vars.value %}
    <div class="content-picker content-picker-list" ng-controller="ContentPickerController" ng-cloak ng-init="init('{{ content }}', '{{ full_name }}', true)">
        {% verbatim %}
        <pre class="sortable-tree-input">{{ selecteditems|json:object }}</pre>
        <input type="hidden" id="" name="{{ formname }}" value="{{ selecteditems }}">
        <div ui-tree class="angular-tree" data-max-depth="3">
            <ol ui-tree-nodes="" ng-model="selecteditems">
                <li ng-repeat="item in selecteditems" ui-tree-node class="tree-node">
                    <div ui-tree-handle>
                        {{ item.title }}
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.items">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                            <div ui-tree-handle>
                                {{ subItem.title }}
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>

        <div class="wrapper">
            <button type="button" class="btn btn-default" ng-click="isPickerOpen = !isPickerOpen">Add items</button>
        </div>

        <ng-modal show="isPickerOpen">
            <content-browser site-id="0" locale="nl_NL" directory-id="0" mode="PICKER" active="isPickerOpen"></content-browser>
        </ng-modal>
        {% endverbatim %}
    </div>
{% endblock content_tree_picker_widget %}

{% block span_collection_widget %}
    {{ block('column_collection_widget') }}
{% endblock %}

{% block gutter_collection_widget %}
    {{ block('column_collection_widget') }}
{% endblock %}

{% block column_collection_widget %}
    <table class="table-column-span" width="100%">
        {% for row in form %}
        <tr>
            <th width="40" class="text-right"><label class="control-label text-right">{{ row.vars.name }}</label> <i class="material-icons icon-{{ row.vars.name }}"></i></th>
            {% for field in row %}
                <td>{{ form_widget(field) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block opifer_content_parent_widget %}
    <input name="{{ full_name }}" id="{{ id }}" type="hidden" value="{{ value }}">
    <div class="tree" data-input-id="{{ id }}">
        <ul>
        {% for item in tree %}
            {{ _self.render_tree(item) }}
        {% endfor %}
        </ul>
    </div>

    {% macro render_tree(item) %}
        <li data-id="{{ item.id }}">
            <span class="expand"></span> <span class="checkmark"></span> {{ item.title }}
            {% if item.__children|default() %}
                <ul>
                {% for child in item.__children %}
                    {{ _self.render_tree(child) }}
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endmacro %}
{% endblock opifer_content_parent_widget %}

{#{% block column_span_widget %}#}
    {#&#123;&#35;{{ form|length }}&#35;&#125;#}
            {#<tr>#}
                {#{% for field in form %}#}
                {#<td>{{ form_widget(field) }}</td>#}
                {#{% endfor %}#}
            {#</tr>#}
            {#<tr>#}
                {#{% for field in form %}#}
                    {#<th>{{ form_label(field) }}</th>#}
                {#{% endfor %}#}
            {#</tr>#}
{#{% endblock %}#}