<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{% if not no_angular|default %} ng-app="MainApp"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Content Management System">
    <meta name="author" content="Opifer">

    <title>{% block title %}CM – Opifer{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/opifercms/css/app.css') }}"/>
</head>
<body class="{{ body_class|default }}">
    {% spaceless %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and hide_nav|default != true %}
        {% block header %}
            <header class="mainnav">

                <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('opifer_cms_dashboard') }}"><i class="material-icons">dashboard</i></a></li>
                                <li><a href="{{ path('opifer_content_content_index') }}">{{ "nav.content"|trans|capitalize }}</a></li>
                                <li><a href="{{ path('opifer_media_media_index') }}"><i class="fa fa-photo visible-xs-block"></i> {{ "nav.media"|trans|capitalize }}</a></li>
                                <li><a href="{{ path('opifer_content_directory_index') }}"><i class="fa fa-folder-o visible-xs-block"></i> {{ "nav.directory"|trans|capitalize }}</a></li>
                                <li><a href="{{ path('opifer_cms_menu_index') }}"><i class="fa fa-navicon visible-xs-block"></i> {{ "nav.sitemenu"|trans|capitalize }}</a></li>
                                <li><a href="{{ path('opifer_form_form_index') }}">{{ 'base.forms'|trans|capitalize }}</a></li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                {# User menu #}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-smile-o visible-xs-block"></i> {{ app.user.username|capitalize }} <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        {#<li><a href="{{ path('fos_user_profile_edit') }}">{{ 'base.profile'|trans|capitalize }}</a></li>
                                        <li class="divider"></li>#}
                                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'base.logout'|trans|capitalize }}</a></li>
                                    </ul>
                                </li>

                                {# System menu #}
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-hdd-o visible-xs-block"></i> {{ 'base.system'|trans|capitalize }} <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li role="presentation" class="dropdown-header">{{ 'base.system'|trans|capitalize }}</li>
                                            <li><a href="{{ path('opifer_cms_setting_index') }}">{{ 'base.settings'|trans|capitalize }}</a></li>
                                            <li><a href="{{ path('opifer_cms_cronjob_index') }}">{{ 'base.cronjobs'|trans|capitalize }}</a></li>
                                            <li><a href="{{ path('opifer_cms_user_index') }}">{{ 'base.users'|trans|capitalize }}</a></li>
                                            <li><a href="{{ path('opifer_redirect_redirect_index') }}">{{ 'base.redirects'|trans|capitalize }}</a></li>
                                            <li class="divider"></li>
                                            <li role="presentation" class="dropdown-header">{{ 'base.content'|trans|capitalize }}</li>
                                            <li><a href="{{ path('opifer_cms_template_index') }}">{{ 'base.templates'|trans|capitalize }}</a></li>
                                            <li><a href="{{ path('opifer_cms_site_index') }}">{{ 'base.sites'|trans|capitalize }}</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock header %}
    {% endif %}
    {% block main %}
        <div id="main" class="container-fluid">
            <div class="viewmain">
                {% include 'OpiferCmsBundle:Components:flash.html.twig' with {'close': true } %}
                {% block body %}{% endblock %}
            </div>
            {% include 'OpiferCmsBundle:Components:confirmationDelete.html.twig' %}
        </div>
    {% endblock main %}
    {% endspaceless %}

{% block javascripts %}
    <script>var CKEDITOR_BASEPATH = '/bundles/opifercms/components/ckeditor/';</script>
    <script src="http://maps.google.com/maps/api/js?libraries=places&language=en-US"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/opifercms/js/app.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

</body>
</html>
