{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">
                {{ 'menu.index.title'|trans|capitalize }}
            </h1>

            <div class="btn-group pull-right">
                <a href="{{ path('opifer_cms_menu_create', {'type': 'group' }) }}" class="btn btn-default">
                    {{ 'menu.group.add'|trans|capitalize }}
                </a>
                <a href="{{ path('opifer_cms_menu_create', {'type': 'item' }) }}" class="btn btn-default">
                    {{ 'menu.item.add'|trans|capitalize }}
                </a>
            </div>
        </div>

        {% include 'OpiferCmsBundle:Components:grid.html.twig' with { 'grid': grid } %}
    {% endspaceless %}
{% endblock %}
