{% extends "OpiferCmsBundle::base.html.twig" %}
{% set no_angular = true %}
{% set body_class = 'pm-body' %}
{% block header %} {% endblock %}
{% block main %}

    <div class="pm">
        <nav class="navbar navbar-default navbar-static-top" id="pm-navbar">
            <div class="container-fluid">
                <div class="navbar-left">
                    <button type="button" name="publish" id="pm-btn-publish" class="btn btn-default navbar-btn">{{ "button.publish"|trans|capitalize }}</button>
                    <button type="submit" name="discard" id="pm-btn-discard" class="btn btn-default navbar-btn">{{ "button.reset"|trans|capitalize }}</button>
                    <a href="{{ url_cancel }}" class="btn btn-link navbar-btn">{{ "button.quit"|trans|capitalize }}</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="pm-navbar-title">
                    <small>{{ caption|trans }}</small><br />
                    {{ title }}
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="btn-toolbar navbar-right">
                        <div class="btn-group navbar-btn">
                            {% if url_properties %}<a href="{{ url_properties }}" class="btn btn-icon btn-default" id="pm-btn-properties"><i class="material-icons">settings</i></a>{% endif %}
                        </div>
                        <div class="navbar-divider"></div>
                        <div class="btn-group navbar-btn hidden">
                            <a href="#" target="_blank" id="pm-btn-run" class="btn btn btn-default btn-icon"><i class="material-icons">launch</i></a>
                        </div>
                        {{ render(controller('OpiferContentBundle:Backend/ContentEditor:versionPicker', {'id': block.id, 'current': version_current, 'published': version_published})) }}
                        <div class="navbar-divider"></div>
                        <div class="btn-group navbar-btn" data-toggle="buttons" role="group" aria-label="">
                            <label for="viewmode-xs" class="btn btn-icon btn-default"><input type="radio" name="screenwidth" id="viewmode-xs" value="xs" autocomplete="off"><i class="material-icons">phone_iphone</i></label>
                            <label for="viewmode-sm" class="btn btn-icon btn-default"><input type="radio" name="screenwidth" id="viewmode-sm" value="sm" autocomplete="off"><i class="material-icons">tablet_mac</i></label>
                            <label for="viewmode-md" class="btn btn-icon btn-default"><input type="radio" name="screenwidth" id="viewmode-md" value="md" autocomplete="off"><i class="material-icons">tablet</i></label>
                            <label for="viewmode-lg" class="btn btn-icon btn-default active"><input type="radio" name="screenwidth" id="viewmode-lg" value="lg" autocomplete="off" checked><i class="material-icons">laptop_mac</i></label>
                        </div>
                        <div class="navbar-divider"></div>
                        <div class="btn-group navbar-btn" data-toggle="buttons" role="group" aria-label="">
                            <label for="viewmode-content" id="pm-btn-viewmode-content" class="btn btn-icon btn-default active"><input type="radio" name="viewmode" id="viewmode-content" value="CONTENT" autocomplete="off" checked><i class="material-icons">web</i></label>
                            <label for="viewmode-preview" id="pm-btn-viewmode-preview" class="btn btn-icon btn-default"><input type="radio" name="viewmode" id="viewmode-preview" value="PREVIEW" autocomplete="off"><i class="material-icons">visibility</i></label>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="pm-editor split-pane fixed-right">
        <aside class="pm-tabs">
            <ul class="nav nav-inverse nav-tabs nav-stacked nav-tabs-sidebar" role="tablist">
                <li role="presentation" class="active" data-toggle="tooltip" data-placement="right" title="Designer"><a href="#tab-design" role="tab" data-toggle="tab"><i class="material-icons">layers</i></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="right" title="Change history"><a href="#tab-history" role="tab" data-toggle="tab"><i class="material-icons">change_history</i></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="right" title="SEO tools"><a href="#tab-seo" role="tab" data-toggle="tab"><i class="material-icons">pageview</i></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="right" title="Extensions"><a href="#tab-extensions" role="tab" data-toggle="tab"><i class="material-icons">extension</i></a></li>
                <li role="presentation" data-toggle="tooltip" data-placement="right" title="Developer tools"><a href="#tab-developer" role="tab" data-toggle="tab"><i class="material-icons">developer_board</i></a></li>
            </ul>
        </aside>
        <div class="split-pane-component pm-preview pm-viewmode-content tab-content" id="pm-document" data-pm-id="{{ block.id }}" data-pm-type="{{ type }}" data-pm-type-id="{{ id }}" data-pm-version="{{ version_current }}" data-pm-version-published="{{ version_published }}" data-pm-permalink="{{ permalink|default }}">
            <div role="tabpanel" class="tab-pane active" id="tab-design">
                <iframe data-url="{{ url }}" frameborder="no" id="pm-iframe" class="pm-tab-iframe"></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-history">
                <iframe src="{{ path('opifer_content_content_history', {'type': type, 'id': id, 'version': version_current}) }}" frameborder="no" id="pm-iframe-history" class="pm-tab-iframe"></iframe>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-developer">
                <iframe frameborder="no" id="pm-iframe-developer" class="pm-tab-iframe"></iframe>
            </div>
        </div>
        <div class="split-pane-divider" id="my-divider"></div>
        <div class="split-pane-component pm-toolset" id="right-component">
            <div class="pm-toolset-body pm">
                <div class="pm-col">
                    <div class="pm pm-toolset-card hidden" id="pm-block-edit">
                    </div>
                </div>
                <div class="pm-toolset-card">

                        {# begin tools_blocks #}
                        <div id="pm-tools-blocks" class="pm-tools-blockset">
                            <div class="pm-col">
                                <h4 class="title text-center">Blocks</h4>
                                <div class="list-group">
                                    {% for tool in manager.tools %}
                                        {% if tool.type == 'content' %}
                                            <div class="list-group-item pm-block-item" data-pm-block-type="{{ tool.service }}">
                                                <div class="col-visual">
                                                    <i class="material-icons">{{ tool.icon }}</i>
                                                </div>
                                                <div class="col-text">
                                                    <h4 class="list-group-item-heading">{{ tool.name }}</h4>

                                                    <p class="list-group-item-text">{{ tool.description }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        {# end tools_blocks #}

                        {# begin tools_layouts #}
                        <div id="pm-tools-layouts" class="pm-tools-blockset">
                            <div class="pm-col">
                                <h4 class="title text-center">Containers</h4>
                                <div class="list-group">

                                    {% for tool in manager.tools %}
                                        {% if tool.type == 'container' %}
                                            <div class="list-group-item pm-block-item" data-pm-block-type="{{ tool.service }}" data-pm-block-data='{{ tool.datajson }}'>
                                                <div class="col-visual">
                                                    <i class="material-icons">{{ tool.icon }}</i>
                                                </div>
                                                <div class="col-text">
                                                    <h4 class="list-group-item-heading">{{ tool.name }}</h4>

                                                    <p class="list-group-item-text">{{ tool.description }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pm-col">
                                <h4 class="title text-center">Columns</h4>
                                <div class="list-group">

                                    {% for tool in manager.tools %}
                                        {% if tool.type == 'column' %}
                                            <div class="list-group-item pm-block-item" data-pm-block-type="{{ tool.service }}" data-pm-block-data='{{ tool.datajson }}'>
                                                <div class="col-visual">
                                                    <i class="material-icons">{{ tool.icon }}</i>
                                                </div>
                                                <div class="col-text">
                                                    <h4 class="list-group-item-heading">{{ tool.name }}</h4>

                                                    <p class="list-group-item-text">{{ tool.description }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# begin tools_layouts #}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pm">
        <div class="list-group" id="pm-list-group-container"></div>
    </div>
    <link rel="stylesheet" href="{{ asset('bundles/opifercms/components/mprogress/mprogress.min.css') }}"/>
{% endblock main %}
