{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-2">
                <div class="page-header">
                    <h1>
                        <span class="small">{{ 'base.content'|trans|capitalize }}</span><br />
                        Create new
                    </h1>
                </div>
                {{ form_start(form, {'attr' : { 'novalidate' : 'novalidate' } }) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>
                        <a href="{{ path('opifer_content_content_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock body %}
