{% extends '@OpiferCms/Backend/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="container">
            <span class="caption">{{ 'title.domain'|trans|capitalize }}</span>
            <a href="{{ path('opifer_cms_domain_index') }}" class="btn btn-link pull-right">
                <i class="material-icons">http</i> {{ 'title.domains'|trans }}
            </a>
            <h1>{{ 'domain.edit'|trans|capitalize }}</h1>
        </div>
    </div>
    <div class="container page-body">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form, {'attr': {'data-toggle':'validator'}}) }}
                {{ form_widget(form) }}
                <div class="form-group form-footer">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}
