{{ form_start(form) }}
    <div class="form-group form-header">
        {% if cron|default and cron.lastError %}
            <div class="alert alert-danger">
                Details on last error during cronjob ({{ cron.startedAt|date('Y-m-d H:i') }})
                <pre>{{ cron.lastError }}</pre>
            </div>
        {% elseif cron|default %}
            <div class="alert alert-success">
                Cronjob operational
            </div>
        {% endif %}
    </div>

    {{ form_widget(form) }}

    <div class="form-group form-footer">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a href="{{ path('opifer_cms_cronjob_index') }}" class="btn btn-link">{{ 'button.cancel'|trans|capitalize }}</a>
    </div>
{{ form_end(form) }}
