{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group form-footer">
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a href="{{ path('opifer_cms_template_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
    </div>
{{ form_end(form) }}
