<nav class="navbar navbar-toggleable-md navbar-light bg-faded" {{ manage_tags() }}>
    <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-dropdown-{{ block.id }}"
        aria-controls="navbar-dropdown-{{ block.id }}"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    {#<a class="navbar-brand" href="#">Navbar</a>#}
    <div class="collapse navbar-collapse" id="navbar-dropdown-{{ block.id }}">
        <ul class="navbar-nav">
            {{ render_placeholder(0, 'Links') }}
        </ul>
    </div>
</nav>
