{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% block lexik_stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.css') }}">
    {% endblock lexik_stylesheets %}
{% endblock stylesheets %}

{% block body %}
    <div class="col-xs-12">
        <div class="page-header">
            <a href="{{ path('opifer_cms_locale_create') }}" class="btn btn-link pull-right">
                <i class="material-icons">add</i> {{ 'button.language_new'|trans({}, 'OpiferCmsBundle') }}
            </a>
            <a href="{{ path('opifer_cms_locale_index') }}" class="btn btn-link pull-right">
                <i class="material-icons">list</i> {{ 'button.language_all'|trans({}, 'OpiferCmsBundle') }}
            </a>
            <h1>{{ 'translations.page_title'|trans({}, 'LexikTranslationBundle') }}</h1>
        </div>
    </div>
    {% block lexik_flash_message %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% set flashes = app.session.flashbag.all() %}
                    {% if flashes | length > 0 %}
                        {% for type, messages in flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">{{ message }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock lexik_flash_message %}
    <div class="col-xs-12">
        {% block lexik_data_grid %}
            {% include 'LexikTranslationBundle:Translation:_ngGrid.html.twig' %}
        {% endblock lexik_data_grid %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% block lexik_javascript_footer %}{% endblock lexik_javascript_footer %}

{% endblock javascripts %}
