{{ form_start(form, {'style': 'horizontal'}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-xs-12">
            <button class="btn btn-primary" type="submit">{{ 'button.submit'|trans }}</button>
            <a href="{{ path('opifer_content_content_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
        </div>
    </div>
{{ form_end(form) }}
