{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-primary" type="submit">{{ 'button.submit'|trans }}</button>
        <a href="{{ path('opifer_content_content_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
    </div>
{{ form_end(form) }}
