{% block block_manage_placeholder %}
    <div class="pm-placeholder {% if content|length <= 0 %}pm-empty{% endif %}" data-pm-placeholder-key="{{ key }}">
        {{ content|raw }}
        {#<div class="pm pm-placeholder-droparea">#}
            {#<div class="pm-caption text-muted text-center">Drag blocks here <span class="key hidden">{{ key }}</span></div>#}
        {#</div>#}
    </div>
{% endblock block_manage_placeholder %}

{% block block_manage_layout %}
    <div class="pm-block pm-layout" data-pm-block-id="{{ block.id }}" data-pm-block-owner-id="{{ block.owner.id }}">
        <div class="pm pm-toolbar clearfix hidden">
            <div class="pm-toolbar-text"><code>{{ block.id }}</code> {{ block_service.name(block) }}</div>
            <div class="pm-btn-group">
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-delete"><i class="material-icons">close</i></a>
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-edit"><i class="material-icons">create</i></a>
            </div>
        </div>
        {% include block_view %}
    </div>
{% endblock block_manage_layout %}

{% block block_manage_default %}
    <div class="pm-block pm-content" data-pm-block-id="{{ block.id }}" data-pm-block-owner-id="{{ block.owner.id }}">
        <div class="pm pm-toolbar clearfix hidden">
            <div class="pm-toolbar-text"><code>{{ block.id }}</code> {{ block_service.name }}</div>
            <div class="pm-btn-group">
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-delete"><i class="material-icons">close</i></a>
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-edit"><i class="material-icons">create</i></a>
            </div>
        </div>
        <div class="clearfix">
            {% include block_view %}
        </div>
    </div>
{% endblock block_manage_default %}

{% block block_manage_pointer %}
    <div class="pm-block pm-content pm-shared" data-pm-block-id="{{ pointer.id }}" data-pm-block-reference-id="{{ block.id }}" data-pm-block-owner-id="{{ pointer.owner.id }}">
        <div class="pm pm-toolbar clearfix hidden">
            <div class="pm-toolbar-text"><code>{{ block.id }}</code> {{ block_service.name }}</div>
            <div class="pm-btn-group">
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-delete"><i class="material-icons">close</i></a>
                <a href="#" class="pm-btn pm-btn-icon pull-right pm-btn-edit"><i class="material-icons">create</i></a>
            </div>
        </div>
        <div class="clearfix">
            {% include block_view %}
        </div>
    </div>
{% endblock block_manage_pointer %}
