{% extends 'OpiferReviewBundle::base.html.twig' %}

{% block opifer_review_body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>
                    <small>{{ 'title.review'|trans }}</small><br />
                    New Review
                </h1>
            </div>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group form-footer">
                <input type="submit" value="{{ 'button.submit'|trans }}" class="btn btn-primary"/>
                <a href="{{ path('opifer_review_review_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock opifer_review_body %}
