{% if app.user|default and manage|default != true %}
    <div {{ manage_tags() }}>
    <p>Logged in as <strong>{{ app.user.username }}</strong>!</p>
    </div>
{% else %}
    <div class="col-xs-12 col-md-8 offset-md-2 {{ manage_tags() }}">
        <h1 class="">{{ block.value|raw }}</h1>

        {% if error is defined and error is not null %}
            <div class="alert alert-danger alert-inline p-y-1">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row m-b-3">
            <div class="col-xs-12">
                <a href="#" class="btn btn-secondary btn-facebook btn-lg w-100">Login with Facebook</a>
                <a href="#" class="btn btn-secondary btn-facebook btn-lg w-100 m-t-1">Login with Google</a>
            </div>
        </div>

        <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group row">
                <label for="username" class="sr-only">
                    {{ 'security.login.username'|trans }}
                </label>
                <div class="col-xs-12">
                    <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" class="form-control  form-control-lg"" />
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="sr-only">
                    {{ 'security.login.password'|trans }}
                </label>
                <div class="col-xs-12">
                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control  form-control-lg"" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-8">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ 'security.login.remember_me'|trans }}</span>
                    </label>
                </div>
                <div class="col-xs-4 text-xs-right">
                    <a href="">{{ 'security.login.forgot_password'|trans }}</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg w-100">
                        {{ 'security.login.submit'|trans }}
                    </button>
                </div>
            </div>
            <div class="row p-t-2">
                <div class="col-xs-8">
                   <p>New here? Easily create an account</p>
                </div>
                <div class="col-xs-4">
                    <a href="#register" class="btn btn-secondary pull-xs-right">
                        {{ 'security.login.register'|trans }}
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endif %}
