{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block eav_value_row %}
    {% spaceless %}
        {% set col_size = col_size|default(bootstrap_get_col_size()) %}
        {% set label_col = label_col|default(bootstrap_get_label_col()) %}
        {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}
        <div class="form-group {% if form.vars.attribute.valueType == 'nested' %}form-group-nested-content{% endif %}">
            <label class="{{ attr.label_class|default('control-label col-' ~ col_size ~ '-' ~ label_col ~ ' required') }}">{{ form.vars.label }}</label>
            <div class="{{ attr.column_class|default('col-' ~ col_size ~ '-' ~ widget_col) }}">
                {% for child in form.children %}
                    {{ form_widget(child, {'attr': attr}) }}
                {% endfor %}
                {% if form.vars.attribute.valueType == 'nested' %}
                    <section class="nested-content-wrapper">
                        <input name="{{ form.vars.id }}" type="hidden" value="{{ form.vars.value }}">
                        <nested-content attribute="{{ name }}" attribute-id="{{ form.vars.attribute.id }}" ids="{{ form.vars.value }}"></nested-content>
                    </section>
                {% endif %}
                {{ block('form_help') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{#
    Valueset Row
#}
{% block opifer_valueset_row %}
    {% spaceless %}
        <section class="form-section">
            {{ block('form_widget') }}
        </section>
    {% endspaceless %}
{% endblock %}

{#
    Schema row
#}
{% block opifer_eav_schema_row %}
    {{ form_widget(form) }}
{% endblock opifer_eav_schema_row %}

{#
    Values Collection Row
#}
{% block values_collection_row %}
    {% spaceless %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}
