{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}


{% block eav_value_row %}
    {% for child in form.children %}
        {% spaceless %}
            {% set label = form %}
            {% set form = child %}
            {% set style = style|default(bootstrap_get_style()) %}
            {% set col_size = col_size|default(bootstrap_get_col_size()) %}

            {% if attr.label_col is defined and attr.label_col is not empty %}
                {% set label_col = attr.label_col %}
            {% endif %}
            {% if attr.widget_col is defined and attr.widget_col is not empty %}
                {% set widget_col = attr.widget_col %}
                {% if label is same as(false) and label_col is defined %}
                    {% set widget_col = widget_col + label_col %}
                {% endif %}
            {% endif %}
            {% if attr.col_size is defined and attr.col_size is not empty %}
                {% set col_size = attr.col_size %}
            {% endif %}
            {% if attr.style is defined and attr.style is not empty %}
                {% set style = attr.style %}
            {% endif %}

            {% set label_col = label_col|default(bootstrap_get_label_col()) %}
            {% set widget_col = widget_col|default(bootstrap_get_widget_col()) %}

            <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
                {% if style == 'horizontal' %}
                    {{ form_label(label) }}
                    <div class="col-{{ col_size }}-{{ widget_col }}">
                        {{ block('form_input_group') }}
                        {{ block('form_help') }}
                        {{ form_errors(form) }}
                    </div>
                {% else %}
                    {{ form_label(label) }}
                    {{ block('form_input_group') }}
                    {{ block('form_help') }}
                    {{ form_errors(form) }}
                {% endif %}
            </div>

            {% if style == 'inline' %}&nbsp;{% endif %}
        {% endspaceless %}
    {% endfor %}
{% endblock %}
{#
    Valueset Row
#}
{% block opifer_valueset_row %}
    {{ form_widget(form) }}
{% endblock %}

{#
    Schema row
#}
{% block opifer_eav_schema_row %}
    {{ form_widget(form) }}
{% endblock opifer_eav_schema_row %}

{#
    Values Collection Row
#}
{% block values_collection_row %}
    {{ form_widget(form) }}
{% endblock %}


