{% extends "OpiferCmsBundle::base.html.twig" %}

{% block body %}
    <div class="container" id="login">
        <div class="row row-space-top-8">
            <div class="panel col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel-body">
                    <div class="page-header">
                        <h1 class="">{{ 'security.login.title'|trans }}</h1>
                    </div>

                    {% if error is defined and error is not null %}
                        <div class="alert alert-danger alert-inline" style="margin-bottom:15px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">
                                {{ 'security.login.username'|trans }}
                            </label>
                            <div class="col-sm-10">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">
                                {{ 'security.login.password'|trans }}
                            </label>
                            <div class="col-sm-10">
                                <input type="password" id="password" name="_password" required="required" class="form-control" />
                            </div>
                        </div>

                        {% if google_captcha_site_key is defined %}
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="g-recaptcha" data-sitekey="{{ google_captcha_site_key }}"></div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label for="remember_me">
                                        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" />{{ 'security.login.remember_me'|trans }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                                    {{ 'security.login.submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="col-xs-12 col-md-6 col-md-offset-2">
            </footer>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if google_captcha_site_key is defined %}
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% endif %}
{% endblock %}
