{% extends "OpiferCmsBundle::base.html.twig" %}

{% block body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">{{ 'profile.edit.title'|trans|capitalize }}</h1>
    </div>

    <section class="page-section">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-default"/>
        {{ form_end(form) }}
    </section>
{% endblock %}
