{% extends '@OpiferCms/Backend/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="container">
            <span class="caption">{{ 'title.locale'|trans|capitalize }}</span>
            <h1>{{ 'locale.edit'|trans|capitalize }}</h1>
        </div>
    </div>
    <div class="container page-body">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{ 'locale.details'|trans|capitalize }}</h2>
                {{ form_start(form, {'attr': {'data-toggle':'validator'}}) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <p class="help-block">{{ 'form.fields.required'|trans|capitalize }}</p>
                </div>
                <div class="form-group form-footer">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}
