{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group form-footer">
        <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans|capitalize }} </button>
        <a href="{{ path('opifer_redirect_redirect_index') }}" class="btn btn-link">{{ 'button.cancel'|trans }}</a>
    </div>
{{ form_end(form) }}
