{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="page-header clearfix">
                    <h1>{{ 'title.new_mailing_list'|trans }}</h1>
                </div>
                {{ form_start(form, {'style': 'horizontal' }) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <div class="col-xs-12 col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button> 
                            <a href="{{ path('opifer_mailing_list_mailing_list_index') }}" class="btn btn-default">{{ 'button.cancel'|trans|capitalize }}</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock body %}
