{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="page-header clearfix">
                <small>{{ 'title.mailing_list_plural'|trans }}</small><br />
                <h1>{{ 'title.mailing_list'|trans }}</h1>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group form-footer">
                <input type="submit" value="{{ 'button.submit'|trans }}" class="btn btn-primary"/>
                <a href="{{ path('opifer_mailing_list_mailing_list_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock body %}
