{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="page-header clearfix">
                <small>{{ 'title.mailing_List'|trans }}</small><br />
                <h1>{{ mailing_list.displayName }}</h1>
            </div>
            {{ form_start(form, {'style': 'horizontal' }) }}
                {{ form_widget(form) }}
                <div class="form-group form-footer">
                    <div class="col-xs-12">
                        <input type="submit" value="{{ 'button.submit'|trans }}" class="btn btn-primary"/>
                        <a href="{{ path('newyse_period_index') }}" class="btn btn-link pull-right">{{ 'button.cancel'|trans|capitalize }}</a>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock body %}
