{#
    The Dropzone widget.

    Renders a drag-and-drop field which automatically uploads the files
#}
{% block dropzone_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block dropzone_widget %}
    {% spaceless %}

    {% if mapped == false %}
        {% set success_message = 'media.upload.success'|trans %}
        {% set button_value = 'media.upload.button'|trans %}
        {% set prototype_html = '<div class="row"><div class="col-lg-2"><img src="__thumb__" class="pull-right"></div><div class="col-lg-10">' ~ form_widget(prototype, []) ~ '</div></div>' %}
        {% set form_html = '<div class="alert alert-success">' ~ success_message ~ '</div><form action="' ~ form_action ~ '" id="update-form" method="POST"><button type="submit" class="btn btn-primary">' ~ button_value ~ '</button></form>' %}
    {% else %}
        {% set prototype_html = '' %}
        {% set form_html = '' %}
    {% endif %}

    <div class="dropzone"
         {% if mapped %}data-mapped="dropzone-parent"{% endif %}
         data-path="{{ path }}"
         data-prototype-form="{{ form_html }}"
         data-prototype="{{ prototype_html }}">
    </div>

    {% if mapped %}
        <input name="{{ full_name }}" type="hidden" id="dropzone-parent" value="{{ form.vars.value }}">
    {% endif %}

    {% endspaceless %}
{% endblock %}

{#
    The Mediapicker widget.
#}
{% block mediapicker_widget %}
    <div class="media-picker" ng-controller="MediaLibraryController" ng-init="init('picker', '{{ providers|json_encode() }}', '{{ full_name }}', '{{ form.vars.value|json_encode() }}', '{{ multiple }}', false)" ng-cloak>
        {% verbatim %}
        <div class="picker-selected-items">
            <div class="inner clearfix">
                <div class="alert alert-info" ng-cloak ng-show="!selecteditems.length">
                    no media selected
                </div>
                <div ng-repeat="item in selecteditems" class="media media-{{ item.provider }} media-{{ item.file_type }}">
                        <div class="media-left media-top">
                            <div class="media-image">
                                <input type="hidden" id="" name="{{ picker.name }}" value="{{ item.id }}">
                                <img ng-src="{{ item.images.medialibrary }}" class="media-object" ng-if="item.provider == 'image'" alt="{{ item.alt }}">
                                <div class="image-wrapper">
                                    <div class="controls">
                                        <a ng-click="removeMedia($index)" class="btn btn-close"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body" ng-show="!item.formOpen" ng-click="item.formOpen = !item.formOpen">
                            <dl class="dl-horizontal">
                                <dt>Name</dt>
                                <dd>{{ item.name }}</dd>
                                <dt>Alt</dt>
                                <dd>{{ item.alt }}</dd>
                                <dt>Dimensions</dt>
                                <dd>{{ item.metadata.width }}x{{ item.metadata.height }}</dd>
                                <dt>Type</dt>
                                <dd>{{ item.content_type }}</dd>
                                <dt>Filesize</dt>
                                <dd>{{ item.readable_filesize }}</dd>
                            </dl>
                        </div>
                        <div class="media-body" ng-show="item.formOpen">
                            <div class="form-group">
                                <input type="text" name="name" ng-model="item.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="alt" ng-model="item.alt" class="form-control" placholder="alt">
                            </div>
                            <a ng-click="saveMedia($index)" class="btn btn-primary">Save</a>
                        </div>
                </div>
            </div>
        </div>

        <div ng-click='togglePicker()' class="btn btn-default" ng-hide="(!picker.multiple && selecteditems.length >= 1)">
            select media
        </div>

        <ng-modal show='picker.pickerShown' class="fullsize">
            <ng-media-library></ng-media-library>
        </ng-modal>
        {% endverbatim %}
    </div>
{% endblock %}
