{% if block.wrapper|default == 'container' %}
    <div class="container{{ (block.properties.container_size|default) ? '-'~block.properties.container_size: '' }} {{ block.properties.styles|default|join(' ') }} {{ block.properties.extra_classes|default }}" {{ manage_tags() }}>
        {{ render_placeholder() }}
    </div>
{% else %}
    {% set col_count = block.columnCount|default(1) %}
    <div class="row {{ block.properties.styles|default|join(' ') }} {{ block.properties.extra_classes|default }}" {{ manage_tags() }}>
        {% for i in 0..col_count-1 %}
            <div class="{{ span_styles[i]|default(['col-xs-12'])|join(' ') }} {{ gutter_styles[i]|default|join(' ') }}">
                {{ render_placeholder(i) }}
            </div>
        {% endfor %}
    </div>
{% endif %}

