<ul class="nav nav-tabs" {{ manage_tags() }}>
    {% for tab_key, tab_name in block.properties.tabs|default([]) %}
    <li role="presentation" class="{% if loop.first %}active{% endif %}"><a href="#tab-{{ block.properties.id|default(block.id) }}-{{ tab_key }}" aria-controls="tab-{{ block.properties.id|default(block.id) }}-{{ tab_key }}" role="tab" data-toggle="tab">{{ tab_name }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for tab_key, tab_name in block.properties.tabs|default([]) %}
        <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="tab-{{ block.properties.id|default(block.id) }}-{{ tab_key }}">{{ render_placeholder(tab_key) }}</div>
    {% endfor %}
</div>