{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group form-footer">
        <button class="btn btn-primary" type="submit">{{ 'form.submit'|trans|capitalize }}</button>
        <a href="{{ path('opifer_cms_user_index') }}" class="btn btn-link">{{ 'button.cancel'|trans|capitalize }}</a>
    </div>
{{ form_end(form) }}
