{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
{% spaceless %}
<div class="page-header clearfix">
    <h1 class="pull-left">
        {{ 'menu.index.title'|trans|capitalize }}
    </h1>

    <div class="btn-group pull-right">
        <a href="{{ path('opifer_cms_menu_create', {'type': 'group' }) }}" class="btn btn-default">
            {{ 'menu.group.add'|trans|capitalize }}
        </a>
        <a href="{{ path('opifer_cms_menu_create', {'type': 'item' }) }}" class="btn btn-default">
            {{ 'menu.item.add'|trans|capitalize }}
        </a>
    </div>
</div>

<section class="admin-menu panel-section">
    <table class="table">
        <thead>
            <tr>
                {#<th><input type="checkbox" /></th>#}
                <th>{{ 'menu.panel.id'|trans|capitalize }}</th>
                <th>{{ 'menu.panel.name'|trans|capitalize }}</th>
                <th></th>
        </thead>
        <tbody>
        {% macro tree_walk(menuTree, level) %}
            {% for menu in menuTree %}
                <tr data-level="{{level}}" class="{{menu.type}} {% if level > 0%}collapse{%endif%}">
                    <td width="25">{{ menu.id }}</td>
                    <td style="text-indent:{{level*8}}px">
                        {% if menu.type == 'item' %}
                        <a href="{{ path('opifer_cms_menu_edit', {'id' : menu.id}) }}">
                            <span class="text-muted" >{{ menu.name }}</span>
                        </a>
                        {% else %}
                            <span class="text-muted" >{{ menu.name }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('opifer_cms_menu_edit', {'id' : menu.id}) }}">
                            {{ 'button.edit'|trans|capitalize }}
                        </a>&nbsp;
                        <a data-name="{{ menu.name }}" data-type="{{ ('menu.'~menu.type~'.type')|trans }}" data-href="{{ path('opifer_cms_menu_delete', {'id' : menu.id}) }}" href="javascript:void(0)" class="delete danger">
                            {{ 'button.delete'|trans|capitalize }}
                        </a>
                    </td>
                </tr>
               {{ _self.tree_walk(menu.__children, (level+1)) }}
            {% endfor %}
        {% endmacro %}
        {{ _self.tree_walk(menuTree, 0) }}
        </tbody>
    </table>
</section>

{% endspaceless %}
{% endblock %}
