{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="col-xs-12">
            <div class="page-header clearfix">
                <a href="{{ path('opifer_form_post_index', {'formId': post.form.id}) }}" class="btn btn-link pull-right">
                    <i class="material-icons md-18">keyboard_return</i>  {{ 'button.back_to_posts'|trans|capitalize }}
                </a>
                <h1>{{ 'form.post_on'|trans({ '%id%': post.id, '%name%': post.form.name }) }}</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <table class="table">
                    <tr>
                        <th>{{ 'form.field'|trans|capitalize }}</th>
                        <th>{{ 'form.value'|trans|capitalize }}</th>
                    </tr>
                    {% for key, value in post.valueset.namedvalues %}
                        <tr>
                            <td>{{ value.attribute.displayName }}</td>
                            <td>
                                {% if value is attachment %}
                                    <a href="{{ asset('uploads/' ~ value) }}">{{ value }}</a>
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endspaceless %}
{% endblock body %}
