{% extends 'OpiferEavBundle::base.html.twig' %}

{% block opifer_eav_body %}
    <article>
        <header class="page-header">
            <h1>{% if schema.displayName|default %}{{ schema.displayName }}{% else %}{{ 'schema.edit.create.title'|trans|capitalize }}{% endif %}</h1>
        </header>

        {% if not form.vars.valid %}
            <div class="alert alert-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {{ form_start(form, {'action': '#', 'attr' : {'novalidate': 'novalidate', 'class': 'prevent-enter-submit'}}) }}
        <section class="page-section">
            {{ form_row(form.displayName) }}
            {{ form_row(form.name) }}
            {{ form_row(form.object_class) }}
            {{ form_row(form.presentation) }}
            {{ form_row(form.attributes) }}
            {{ form_row(form.save) }}
        </section>
        {{ form_end(form) }}
    </article>
{% endblock opifer_eav_body %}
