{#
    Presentation Editor Widget
#}
{% block presentationeditor_widget %}
{% spaceless %}
    <presentation-editor formid="{{ id }}" name="{{ full_name }}" value="{{ form.vars.value|replace({"\n": '', ' ': ''})|json_encode() }}"></presentation-editor>
{% endspaceless %}
{% endblock %}


{% block contentpicker_widget %}
    {% spaceless %}
        {% if(form.vars.value.content_id) %}
            {% set content = form.vars.value.content_id %}
        {% endif %}

        <div class="content-picker" ng-controller="ContentPickerController" ng-cloak ng-init="init('{{ {'id':content.id|default,'title':content.title|default,'coverImage':content.coverImage|default}|json_encode() }}')">

            {{ form_row(form.content_id, {'attr': {'ng-value': 'content.id'} }) }}

            {% verbatim %}
            <div class="wrapper">
                <button type="button" class="btn btn-default" ng-click="isPickerOpen = !isPickerOpen">Choose item</button>
                <div class="content-picked-item" ng-show="content.id"><div style="background-image: url({{ content.coverImage }});" class="content-cover"></div> <span class="content-title">{{content.title}}</span> <a class="fa fa-times danger" ng-click="content={}"></a></div>
            </div>
            <ng-modal show="isPickerOpen">
                <content-browser site-id="0" locale="nl_NL" directory-id="0" mode="PICKER_SINGLE" active="{{ isPickerOpen }}"></content-browser>
            </ng-modal>
            {% endverbatim %}
        </div>
    {% endspaceless %}
{% endblock %}