<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Content Management System">
    <meta name="author" content="Opifer">

    <title>{% block title %}CM – Opifer{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/opifercms/css/pagemanager.css') }}"/>

</head>
<body class="body">

<div class="pm">
    <nav class="navbar navbar-default navbar-static-top" id="pm-navbar">
        {{ form_start(form) }}
        <div class="container-fluid">
            <div class="navbar-left">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-default navbar-btn navbar-left'}}) }}
                <a href="{{ path('opifer_content_template_index') }}" class="btn btn-link navbar-btn navbar-left">Cancel</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="pm-navbar-title">
                {{ block.name }} {{ form_widget(form.name) }}
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="btn-toolbar navbar-right">
                    <div class="btn-group navbar-btn">
                        <a class="btn btn btn-default btn-icon btn-reload disabled"><i class="material-icons">autorenew</i></a>
                    </div>
                    <div class="btn-group navbar-btn">
                        <a class="btn btn btn-default disabled">Properties</a>
                    </div>
                    <div class="btn-group navbar-btn" data-toggle="buttons" role="group" aria-label="">
                        <label for="viewmode-content" class="btn btn btn-default active"><input type="radio" name="viewmode" id="viewmode-content" value="CONTENT" autocomplete="off" checked>Content</label>
                        <label for="viewmode-preview" class="btn btn btn-default"><input type="radio" name="viewmode" id="viewmode-preview" value="PREVIEW" autocomplete="off">Preview</label>
                        <label for="viewmode-layout" class="btn btn btn-default"><input type="radio" name="viewmode" id="viewmode-layout" value="LAYOUT" autocomplete="off">Layout</label>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </nav>
</div>


<div class="pm-editor">
    <div class="split-pane fixed-right">
        <div class="split-pane-component pm-preview pm-viewmode-content" id="left-component">
            {{ render_block(block, {'block_mode': 'manage'}) }}
        </div>
        <div class="split-pane-divider" id="my-divider"></div>
        <div class="split-pane-component pm-toolset" id="right-component">
            <div class="pm-toolset-body pm">
                <div class="pm pm-toolset-card hidden" id="pm-block-edit">
                </div>
                <div class="pm-toolset-card">
                    <div class="panel-body">

                        {# begin tools_blocks #}
                        <div id="pm-tools-blocks" class="pm-tools-blockset">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h4>Blocks</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="list-group">
                                        <div class="list-group-item pm-block-item" data-pm-block-type="button">
                                            <div class="col-visual">
                                                <i class="material-icons">label_outline</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Button link</h4>
                                                <p class="list-group-item-text">Creates a link to a (external) page or content.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="content">
                                            <div class="col-visual">
                                                <i class="material-icons">subject</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Content</h4>
                                                <p class="list-group-item-text">Rich content editable through WYSIWYG editor.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="image">
                                            <div class="col-visual">
                                                <i class="material-icons">image</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Image</h4>

                                                <p class="list-group-item-text">Provides an image from the library in the right size.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="image_library">
                                            <div class="col-visual">
                                                <i class="material-icons">photo_library</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Image gallery</h4>
                                                <p class="list-group-item-text">Creates a collection of images selectable from the media library.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="jumbotron">
                                            <div class="col-visual">
                                                <i class="material-icons">settings_overscan</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Jumbotron</h4>
                                                <p class="list-group-item-text">Large piece of content with bigger font and optional background image.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="carousel">
                                            <div class="col-visual">
                                                <i class="material-icons">view_carousel</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Carousel</h4>

                                                <p class="list-group-item-text">A slideshow component for cycling through elements, like a carousel.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="video">
                                            <div class="col-visual">
                                                <i class="material-icons">theaters</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Video</h4>
                                                <p class="list-group-item-text">Embed a video sourced from the media library or external services like YouTube.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item disabled pm-block-item" data-pm-block-type="comments">
                                            <div class="col-visual">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Comments</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="list">
                                            <div class="col-visual">
                                                <i class="material-icons">subject</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">List view</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="list_tiles">
                                            <div class="col-visual">
                                                <i class="material-icons">view_module</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Tiled view</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h4>Scripts</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="list-group">
                                        <div class="list-group-item pm-block-item" data-pm-block-type="google_analytics">
                                            <div class="col-visual">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">Google Analytics</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="css">
                                            <div class="col-visual">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">CSS</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="javascript">
                                            <div class="col-visual">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">JavaScript</h4>
                                                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# end tools_blocks #}



                        {# begin tools_layouts #}
                        <div id="pm-tools-layouts" class="pm-tools-blockset hidden">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <h4>Layout elements</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="list-group">
                                        <div class="list-group-item pm-block-item" data-pm-block-type="layout" data-pm-block-data="{'columnCount': 1}">
                                            <div class="col-visual">
                                                <i class="material-icons">view_column</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">100%</h4>
                                                <p class="list-group-item-text">Single column spanning 100% width.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="layout" data-pm-block-data="{'columnCount': 2}">
                                            <div class="col-visual">
                                                <i class="material-icons">view_column</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">50% 50%</h4>
                                                <p class="list-group-item-text">Two equal columns both 50% width.</p>
                                            </div>
                                        </div>
                                        <div class="list-group-item pm-block-item" data-pm-block-type="layout" data-pm-block-data="{'columnCount': 3}">
                                            <div class="col-visual">
                                                <i class="material-icons">view_column</i>
                                            </div>
                                            <div class="col-text">
                                                <h4 class="list-group-item-heading">33% 34% 33%</h4>
                                                <p class="list-group-item-text">Three columns equal in width.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# begin tools_layouts #}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pm"><div class="list-group" id="pm-list-group-container"></div></div>

{% block javascripts %}
    <script>var CKEDITOR_BASEPATH = '/bundles/opifercms/components/ckeditor/';</script>
    <script src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/opifercms/dist/js/app.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/opifercms/dist/js/pagemanager.js') }}"></script>
{% endblock %}

</body>
</html>