{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">{{ 'directory.edit.title'|trans|capitalize }}</h1>
    </div>

    {#{% if menu %}
        <div class="page-tabs">
            {{ knp_menu_render(menu, {'style': 'tabs' }) }}
        </div>
    {%endif %}#}

    {% if not form.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <section class="page-section">
        {{ form(form, {'style': 'horizontal', 'attr': {'novalidate':'novalidate'} }) }}
    </section>
{% endblock opifer_content_body %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
