{% extends '@OpiferContent/base.html.twig' %}

{% block opifer_content_body %}
    {% spaceless %}

        <div class="container">
            <div class="row">

                <div class="page-header">
                    <a href="{{ path('opifer_content_contenttype_create') }}" class="btn btn-link pull-right">
                        <i class="material-icons">add</i>
                        New content_type
                    </a>
                    <h1>Content Types</h1>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for content_type in content_types %}
                        <tr>
                            <td>{{ content_type.id }}</td>
                            <td>{{ content_type.displayname }}</td>
                            <td>
                                <a href="{{ path('opifer_content_contenttype_edit', {'id': content_type.id}) }}"><i class="fa fa-edit"></i> Edit</a>
                                <a href="{{ path('opifer_content_contenttype_delete', {'id': content_type.id}) }}"><i class="fa fa-remove"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endspaceless %}
{% endblock opifer_content_body %}
