{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}

    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="page-header clearfix">
                    <h1>{{ 'title.new_content'|trans }}</h1>
                </div>
                {{ form_start(form, {'attr' : { 'novalidate' : 'novalidate' } }) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ 'button.submit'|trans }}</button>
                        <a href="{{ path('opifer_content_content_index') }}" class="btn btn-default">{{ 'button.cancel'|trans|capitalize }}</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock opifer_content_body %}
