{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}
    {% spaceless %}

        <div class="container">
            <div class="row">

                <div class="page-header">
                    <h1>
                        <span class="small">{{ "title.select_content_type"|trans }}</span><br />
                        {{ "title.new_content"|trans }}
                    </h1>
                </div>

                <div class="list-group">
                    <a href="{{ path('opifer_content_content_create') }}" class="list-group-item">
                        {{ "link.default"|trans }}
                    </a>
                {% for content_type in content_types %}
                        <a href="{{ path('opifer_content_content_create', {'type': content_type.id}) }}" class="list-group-item">
                            {{ content_type.name }}
                        </a>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock opifer_content_body %}
