{% macro node(children, environment, key = 0) %}
    {% import _self as toc %}
    {% for node in children %}
        {% if key == node.position %}
        <li data-pm-block-id="{{ node.id }}" data-pm-block-owner-id="{{ node.owner.id }}">
            <span class="node-block">
                <i class="material-icons md-18">{{ environment.getTool(node).icon }}</i> {{ environment.getTool(node).name }}
                {% spaceless %}
                <div class="pm-btn-group">
                    <i data-pm-block-id="{{ node.id }}" class="pm-btn pm-btn-drag material-icons">drag_handle</i>
                    <i data-pm-block-id="{{ node.id }}" class="pm-btn pm-btn-localize material-icons">location_searching</i>
                    <i data-pm-block-id="{{ node.id }}" class="pm-btn pm-btn-edit material-icons">edit</i>
                </div>
                {% endspaceless %}
            </span>
            {% if node is block_container %}
            <ul>
                {% for placeholder_key, placeholder_name in environment.getPlaceholders(node) %}
                    <li class="node-placeholder"><span>{{ placeholder_name }}</span>
                        <ul class="pm-placeholder" data-pm-placeholder-key="{{ placeholder_key }}" data-pm-placeholder-id="{{ node.id }}">
                            {{ toc.node(environment.blockChildren(node), environment, placeholder_key) }}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as toc %}

<ul data-pm-block-id="{{ block.id }}" data-pm-block-owner-id="{{ block.owner.id|default }}">
    {% for placeholder_key, placeholder_name in environment.getPlaceholders(block) %}
        <li class="node-placeholder"><span>{{ placeholder_name }}</span>
            <ul class="pm-placeholder" data-pm-placeholder-key="{{ placeholder_key }}" data-pm-placeholder-id="{{ block.id }}">
                {{ toc.node(environment.blockChildren(block), environment, placeholder_key) }}
            </ul>
        </li>
    {% endfor %}
</ul>