{% macro node(children, environment, key = 0) %}
    {% import _self as toc %}
    {% for node in children %}
        {% if key == node.position %}
        <li data-pm-block-id="{{ node.id }}" data-pm-block-owner-id="{{ node.owner.id|default("0") }}" {% if node is block_pointer %}data-pm-block-pointer="true" data-pm-block-reference-id="{{ node.reference.id|default }}"{% endif %}>
            <span class="node-block {% if node is block_pointer %}node-pointer{% endif %} {% if environment.object.id != node.owner.id|default("0") and node.owner.id|default("0") != "0" %}node-inherited{% endif %}">
                {% if node.title|default and node.title is not empty %}
                    <i class="material-icons md-18">{{ environment.getTool(node).icon }}</i> {{ node.title }}
                {% elseif node.name|default and node.name is not empty %}
                    <i class="material-icons md-18">{{ environment.getTool(node).icon }}</i> {{ node.name }}
                {% else %}
                    <i class="material-icons md-18">{{ environment.getTool(node).icon }}</i> {{ environment.getTool(node).name }}
                {% endif %}
                {% spaceless %}
                <div class="pm-btn-group">
                    {% if environment.object.id == node.owner.id|default("0") %}<i data-pm-block-id="{{ node.id }}" class="pm-btn pm-btn-drag material-icons">drag_handle</i>{% endif %}
                    <i data-pm-block-id="{{ node.id }}" class="pm-btn pm-btn-localize material-icons">location_searching</i>
                    {% if environment.object.id == node.owner.id|default("0") or node.hasSharedParent %}
                        <i data-pm-block-id="{{ (node is block_pointer and node.reference.id|default) ? node.reference.id : node.id }}" class="pm-btn pm-btn-edit material-icons">
                            edit
                        </i>
                    {% endif %}
                </div>
                {% endspaceless %}
            </span>
            {% if node is block_pointer and node.reference.id|default %}
                {% set node = node.reference %}
            {% endif %}
            {% if node is block_container %}
            <ul>
                {% for placeholder_key, placeholder_name in environment.getPlaceholders(node) %}
                    <li class="node-placeholder"><span>{{ placeholder_name }}</span>
                        <ul class="pm-placeholder" data-pm-placeholder-key="{{ placeholder_key }}" data-pm-placeholder-id="{{ node.id }}">
                            {{ toc.node(environment.blockChildren(node), environment, placeholder_key) }}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as toc %}

<ul data-pm-id="{{ object.id }}">
    {% for placeholder_key, placeholder_name in environment.getPlaceholders(object) %}
        <li class="node-placeholder"><span>{{ placeholder_name }}</span>
            <ul class="pm-placeholder" data-pm-placeholder-key="{{ placeholder_key }}" data-pm-placeholder-id="0">
                {{ toc.node(environment.getRootBlocks(), environment, placeholder_key) }}
            </ul>
        </li>
    {% endfor %}
</ul>
